@using Workshop.Enums
@model Workshop

<div class="divFormulario">
    <div class="form-group div">
        <label for="Nome">Título</label>
        <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Insira o nome do workshop" asp-for="Nome" required />
    </div>
    <div class="form-group div">
        <label for="Descricao">Descrição</label>
        <input type="text" class="form-control" id="Descricao" name="Descricao" placeholder="Insira uma breve descrição" asp-for="Descricao" required />
    </div>

    <div class="form-group div">
        <label for="Datas">Datas dos Encontros</label>
        <div class="divDatas">
            <div>
                <div class="div" id="datasSelecao">
                    <input type="datetime-local" class="form-control" name="Datas" id="dateInput" required />
                </div>
                <button type="button" class="btn-custom" onclick="addDateField()">Adicionar Data</button>
            </div>
            <div id="datasContainer">
                @if (Model != null)
                {
                    @foreach (DateTimeOffset data in Model.Datas)
                    {
                        <script>
                            var dateString = '@data.ToString("yyyy-MM-ddTHH:mm")';
                            CriarCampoDeData(dateString);
                        </script>
                    }

                }
            </div>
        </div>
    </div>

    <div class="divDuasColunas">
        <div class="form-group div">
            <label for="Categoria">Categoria</label>
            <select class="form-control" id="Categoria" name="Categoria" required>
                <option value="">Selecione a categoria</option>
                @foreach (string categoria in ViewBag.Categorias)
                {
                    string isSelected = Model != null && categoria == Model.Categoria ? "selected" : "";
                    if (!string.IsNullOrEmpty(isSelected))
                    {
                        <option value="@categoria" selected>@categoria</option>
                    }
                    else
                    {
                        <option value="@categoria">@categoria</option>
                    }
                }
            </select>
        </div>
        <div class="form-group div">
            <label for="Modalidade">Modalidade</label>
            <select class="form-control" id="Modalidade" name="Modalidade" required>
                <option value="">Selecione a modalidade</option>
                @foreach (string modalidade in ViewBag.Modalidades)
                {
                    string isSelected = Model != null && modalidade == Model.Modalidade ? "selected" : "";
                    if (!string.IsNullOrEmpty(isSelected))
                    {
                        <option value="@modalidade" selected>@modalidade</option>
                    }
                    else
                    {
                        <option value="@modalidade">@modalidade</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="divDuasColunas">
        <div class="form-group div">
            <label for="Usuario">Instrutor</label>
            @{
                bool admin = User.HasClaim(c => c.Type == "Perfil" && c.Value == Perfil.Administrador.GetDescription());
            }
            @if (admin)
            {
                <select class="form-control" id="Usuario" name="Usuario.cpf" asp-for="Usuario" required>
                    <option value="">Selecione o instrutor</option>
                    @foreach (Usuario Usuario in ViewBag.Usuarios)
                    {
                        string isSelected = Model != null && Usuario.Cpf == Model.Usuario.Cpf ? "selected" : "";
                        if (!string.IsNullOrEmpty(isSelected))
                        {
                            <option value="@Usuario.Cpf" selected>@Usuario.Nome</option>
                        }
                        else
                        {
                            <option value="@Usuario.Cpf">@Usuario.Nome</option>
                        }
                    }
                </select>
            }
            else
            {
                <select class="form-control" id="Usuario" name="Usuario.cpf" asp-for="Usuario" disabled>
                    @foreach (Usuario Usuario in ViewBag.Usuarios)
                    {
                        string isSelected = Model != null && Usuario.Cpf == Model.Usuario.Cpf ? "selected" : "";
                        if (!string.IsNullOrEmpty(isSelected))
                        {
                            <option value="@Usuario.Cpf" selected>@Usuario.Nome</option>
                        }
                    }
                </select>
            }
        </div>
    </div>
    <div class="divDuasColunas divBotoes">
        <button type="button" class="btn-custom" onclick="submitForm()">Salvar</button>
        <button type="button" class="btn-custom" onclick="Voltar('Home/Workshops')">Voltar</button>
    </div>

</div>

